@import "tailwindcss";

:root {
  --background: #fcfaf7;
  --foreground: #4c114f;
  --violet: #782478;
  --mauve: #4c114f;
  --gris: #bdaaa1;
  --marron: #503342;
  --gold: #cc9933;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4c114f;
    --foreground: #fcfaf7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
